.dropdown-toggle {
    background-color: #c5e1de;
    color:#FFFFFF;
}
.active {
    background-size: 100px,30px;

}
div > h1 {
    position: relative;;
    left:80px
}

div > p {
    position:absolute;
    right:120px;
}